<form action="/cards" method="post">
    <label for="player_name">Player Name </label>
    <input type="text" name="card[player_name]" id="player_name" />
    <br />
    <br />
    <label for="team">Team</label>
    <input type="text" name="card[team]" id="team" />
    <br />
    <br />
    <label for="number">Number</label>
    <input type="text" name="card[number]" id="number" />
    <br />
    <br />
    <label for="year">Year</label>
    <input type="text" name="card[year]" id="year" />
    <br />
    <br />
    <label for="condition">Condition</label>
    <input type="text" name="card[condition]" id="condition" />
    <br />
    <br />
    <input type="submit" name="submit" value="Submit" />
</form>